---
layout: category
title: Javaswag
permalink: /javaswag/
---

<div>
  <center><h1>Javaswag <small>Еженедельная рассылка по Java</small></h1></center>
</div>

<div class="posts">
  {% for post in site.posts %}

      {% if post.categories != null and post.categories contains 'javaswag' %}
          <div class="post">
            <header class="post-header">
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
              <h1 class="h2">{{ post.title }}</h1>
              </a>
            </header>
            <article class="post-content">
            {{ post.content }}
            </article>
          </div>

      {% endif %}

  {% endfor %}
</div>